.container {
  height: 50%;
  width: 50%;
}

.heading > h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 500;
}

.heading h1 span {
  color: #34ad29;
  border-bottom: 5px solid #34ad29;
  padding-bottom: 10px;
}
